# ä¸–ç•Œå›½å®¶ - åˆ†æ ğŸ§®

è®©æˆ‘ä»¬æ¥æ¢ç´¢Kaggleä¸Šçš„æ•°æ® - [æœ‰å…³ä¸–ç•Œå›½å®¶](https://www.kaggle.com/fernandol/countries-of-the-world) åŠå…¶å„ç§ç»æµã€ç¤¾ä¼šã€åœ°ç†æŒ‡æ ‡ã€‚

æ­¤ç»ƒä¹ ä¸­æ¶µç›–çš„æ¦‚å¿µä¸ä½ å®Œæˆçš„ AirBnB æŒ‘æˆ˜éå¸¸ç›¸ä¼¼ - å¦‚æœæœ‰ç–‘è™‘å¯ä»¥æ¥å›æŸ¥çœ‹è§£ç­”æ–¹æ¡ˆï¼ ğŸ’¡

#### å¯¼å…¥æ‰€éœ€çš„å·¥å…·åº“

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print("You are good to go!")

You are good to go!

#### è¯»å–ä»Kaggleä¸‹è½½çš„csvæ–‡ä»¶ï¼Œå¹¶å€ŸåŠ©Pandasåˆ›å»ºä¸€ä¸ªæ•°æ®å¸§DataFrame

In [2]:
file = "countries of the world.csv"
countries_data = pd.read_csv(file, decimal=",")
countries_data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

### ç°åœ¨æ¥å¿«é€ŸæŸ¥çœ‹åˆ›å»ºçš„ æ•°æ®å¸§`DataFrame` ğŸ—º

è®©æˆ‘ä»¬æ£€æŸ¥ä¸€ä¸‹æœ‰å¤šå°‘è¡Œå’Œåˆ—ã€‚ ç»“æœå°†æ‰“å°ä¸ºï¼ˆè¡Œï¼Œåˆ—ï¼‰ Rows, Columns

In [ ]:
# your code here

ä½ èƒ½æŸ¥çœ‹æ‰€æœ‰åˆ—columnsçš„åç§°ä»¥åŠæ•°æ®å¸§ä¸­æ‰€æœ‰æ•°æ®çš„ç±»å‹å—ï¼ŸğŸ¥‡

In [ ]:
# your code here

è¯·è®°ä½ï¼Œä½ è¿˜å¯ä»¥è¿è¡Œ `.head` å’Œ `.tail` æ–¹æ³•æ¥æ£€æŸ¥ DataFrame çš„ä½åˆ—å‰æ’çš„è¡Œå’Œä½åˆ—æœ«ç«¯çš„è¡Œã€‚

ä½ å°†å¦‚ä½•æ£€æŸ¥ç¬¬1è¡Œå’Œæœ€å 10 è¡Œï¼Ÿ

In [ ]:
# your code here for the first 10 rows

In [ ]:
# your code here for the last 10 rows

### è¿›è¡Œæ•°æ®æ¸…ç†ğŸ§¹

è®©æˆ‘ä»¬æ£€æŸ¥ä¸€ä¸‹æ•°æ®ä¸­æ˜¯å¦æœ‰å¾ˆå¤š `null` å€¼

In [ ]:
# your code here

ä½ ä¼šæ³¨æ„åˆ°æ•°æ®é›†ç›¸å¯¹å¹²å‡€ï¼Œæ²¡æœ‰ä»»ä½•ä¸€åˆ—æœ‰å¤§é‡çš„ç¼ºå¤±å€¼`null`ã€‚

**ä½†æ˜¯**å¦‚æœæˆ‘ä»¬æ£€æŸ¥ä¸¤ä¸ª `object` åˆ—çš„å»é‡å€¼ - `Country` å’Œ `Region` - æˆ‘ä»¬ä¼šå‘ç°ä¸€äº›æ··ä¹±ã€‚ è®©æˆ‘ä»¬æ£€æŸ¥ `Region` åˆ—çš„ **uniqueå»é‡** å€¼ï¼š

In [ ]:
# your code here

æ³¨æ„åŒºåŸŸåç§°å‘¨å›´çš„æ‰€æœ‰ **whitespaceç©ºæ ¼** - å¼•å·å†…çš„é¢å¤–ç©ºæ ¼ã€‚ è¿™é‡Œæˆ‘ä»¬å¯ä»¥ä½¿ç”¨ `strip` ç§»é™¤`Country` å’Œ `Region` ä¸­çš„ç©ºç™½ç©ºæ ¼ï¼š

In [ ]:
countries_data['Country'] = countries_data['Country'].map(str.strip)
countries_data['Region'] = countries_data['Region'].map(str.strip)

ä½ ä¸ä¼šç«‹å³çœ‹åˆ°ä¸Šè¿°å•å…ƒæ ¼çš„è¾“å‡ºï¼Œå› ä¸ºæˆ‘ä»¬æ­£åœ¨å¯¹å½“å‰æ•°æ®å¸§**inplace**å°±åœ°è¿›è¡Œæ›´æ”¹ä¿å­˜ - æ„ä¸ºæˆ‘ä»¬æ­£åœ¨ç”¨æ–°çš„ã€å¹²å‡€çš„åˆ—è¦†ç›–åŸå§‹æ•°æ®å¸§DataFrameã€‚

ç°åœ¨æˆ‘ä»¬å¯ä»¥æ›´å®¹æ˜“åœ°å¯»æ‰¾ä¸€ä¸ªç‰¹å®šçš„å›½å®¶ã€‚ ä½ è¿˜å¯ä»¥è¯•è¯•åˆ«çš„å›½å®¶ï¼ ;)

In [ ]:
countries_data[countries_data['Country'] == 'China']

# è®©æˆ‘ä»¬æ¥ç”¨Pandaså¤„ç†ä¸€äº›æ•°æ®åˆ†æ! ğŸš€

æˆ‘ä»¬å°†æå‡ºä¸€äº›ä½ åº”è¯¥èƒ½å¤Ÿç”¨ Python å’Œ Pandas å›ç­”çš„é—®é¢˜ã€‚ æ­¤å¯é€‰æŒ‘æˆ˜æ²¡æœ‰ç­”æ¡ˆï¼Œå› æ­¤å¦‚æœä½ éœ€è¦æç¤ºï¼Œè®°å¾—æŸ¥çœ‹è§†é¢‘æˆ– AirBnB æŒ‘æˆ˜ï¼ ğŸ’¡

[Bonus] ä½ è¿˜èƒ½å°è¯•ä½¿ç”¨`.plot()` æ–¹æ³•æˆ–`sns` Python å·¥å…·åŒ… ğŸ† å°†æœ€ç»ˆçš„åˆ†æè½¬å¯è§†åŒ–

#### 5 ä¸ªæœ€â€œå…·æœ‰æœåŠ¡æ„è¯†â€ `service`éƒ¨é—¨å¯¼å‘çš„å›½å®¶æ˜¯ä»€ä¹ˆï¼Ÿ æˆ‘ä»¬åªéœ€è¦é’ˆå¯¹äººå£è¶…è¿‡ 5000 ä¸‡çš„å›½å®¶/åœ°åŒºã€‚

In [3]:
# your code here
# Hint: é¦–å…ˆï¼Œä½¿ç”¨å¸ƒå°”ç´¢å¼•åˆ›å»ºä¸€ä¸ªæ–°çš„å¤§å›½æ•°æ®æ¡†

#### è®©æˆ‘ä»¬æ¥æ¢è®¨äººå£è€é¾„åŒ–â€”â€”å‡ºç”Ÿç‡é™¤ä»¥æ­»äº¡ç‡

ä¸ºæ­¤ï¼Œä½ éœ€è¦åˆ›å»ºä¸€ä¸ªæ–°çš„åˆ—ï¼Œå¦‚ä¸‹æ‰€ç¤ºï¼š

```Python
country_data['new_column_name'] = ä½ çš„è®¡ç®—
```

In [ ]:
# your code here

ç°åœ¨ï¼Œè®©æˆ‘ä»¬å¯¹äººå£æœ€å¹´è½»çš„å›½å®¶è¿›è¡Œæ’åºã€‚ æˆ‘ä»¬æƒ³çœ‹çœ‹è¿™äº›æ˜¯å¦‚ä½•æˆä¸ºæ›´äº’è”ç½‘çš„ä¸€ä»£â€”â€”æ‰€ä»¥æˆ‘ä»¬åªæŸ¥çœ‹å›½å®¶`Country`ã€äººå£`Population`ã€ä»¥åŠè®¡ç®—çš„è€é¾„åŒ–å› ç´ å’Œæ¯åƒäººçš„æ‰‹æœºæ•°é‡

In [ ]:
# your code here

#### è®©æˆ‘ä»¬ç”¨ `sns.scatterplot()` åˆ›å»ºä¸€ä¸ªæ•£ç‚¹å›¾ï¼Œçœ‹çœ‹å†œä¸šéƒ¨é—¨`Agriculture` å’Œè€•åœ° (`Area (sq. mi.)`ä¸`Arable %` ï¼‰æ˜¯å¦‚ä½•ç›¸å…³çš„ã€‚ 
[Bonues] å¦‚æœä½ å¯ä»¥å°è¯•æŒ‰åœ°åŒºä¸ºç‚¹ç€è‰²ï¼ ğŸ¥‡

In [ ]:
plt.figure(figsize=(10,8)) # åŠ è¿™ä¸ªä»¥ä½¿ç»˜å›¾æ›´å¤§
# your code here

#### ä½ æ­£åœ¨æ¨å‡ºä¸€ä¸ªä»˜è´¹åº”ç”¨ç¨‹åºâ€”â€”è®©æˆ‘ä»¬æ¥çœ‹çœ‹äººå‡ GDP æœ€é«˜å’Œæ‰‹æœºä½¿ç”¨ç‡æœ€é«˜çš„å›½å®¶/åœ°åŒºã€‚ æˆ‘ä»¬ç°åœ¨ä¹Ÿåªéœ€è¦å…³æ³¨äºšæ´²å›½å®¶ã€‚

In [ ]:
# your code here

###  æ­å–œä½ æ¥åˆ°è¿™ä¸€æ­¥ï¼ ğŸš€ ä½ è¿˜æœ‰ä»€ä¹ˆæ„Ÿå…´è¶£çš„é—®é¢˜ï¼Ÿ ç°åœ¨ä½ å¯ä»¥ä½¿ç”¨ Python æ¥è§£ç­”äº†ğŸ¤“

In [ ]:
# your code here

å»¶ä¼¸é˜…è¯»:

* Matplotlib æ–‡æ¡£ [plot attributes](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.plot.html?highlight=plot#matplotlib.pyplot.plot)
* Pandas æ–‡æ¡£ [DataFrame.plot() function we are using](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.plot.html)
* ğŸ‘‰  [å¯è§†åŒ–çš„ä»‹ç»](http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot)